#Pokedex{
    margin: 1rem 10rem;
}

#PokedexGrid *{
    box-sizing: border-box;
}

.PokeCard{
    background-color: var(--sl-bg-base-strong);
    border: var(--sl-border-base-strong);
    border-radius: var(--sl-radius-3);
    padding: 0.5rem 0.25rem 0.25rem;   
    min-height: 30rem;
}

.PokeCard .PokemonImg{
    height: 60%;
    object-fit: contain;
}

.PokeCard .Types{
    width: 65%;
}