*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#PokedexGrid{
    margin: 1rem 10rem;
}

.PokeCard{
    background-color: gainsboro;
    border: 0.25rem solid gray;
    border-radius: 1rem;
    padding: 1rem 0.5rem 0.5rem;   
    min-height: 20rem;

}

.PokeCard .Flex{
    height: 100%;
}

.PokeCard .PokemonImg {
    height: 100%;
    object-fit: contain;
}

.PokeCard .Types{
    width: 65%;
}